*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: white;
}
/*Características do cabeçalho*/
header{
    width: 100vw;
    height: 89px;
    background-color: #404EED;
    display: flex;
    justify-content:start;
    align-items: center;
}
header img{ 
    width: 270px;
    margin-left: 5.8vw;
}
/*Fim das características do cabeçalho*/
/*Personalização*/
.personalization{
    width: 100vw;
    /*height: 90vh;*/
    display: flex;
}
.choices{
    width: 50vw;   
    height: 90%; 
    display: flex;
    justify-content: center;
    margin-top: 3.1vh;
}
.division{
    width: 57%;
    /*height: 20%;*/
    display: flex;
    flex-direction: column;
}
.model, .tissue, .collar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}
.division2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textChoice{
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    color: #232323;
    margin-bottom: 1.2%;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin{
    margin-top: 8px;
}
.backgroundGrey{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #F2F2F2;
    border: solid 0.5px #C4C4C4;
}
.backgroundGrey img{
    width: 75px;
    height: 75px;
}
input{
    width: 100%;
    height: 40px;
    background: #F2F2F2;
    border-radius: 10px;
    border: 0;
    margin-bottom: 1.9vh;
}
.confirm{
    width: 100%;
    height: 40px;
    background-color: #C4C4C4;
    border-radius: 10px;
    color: white;
    margin-bottom: 39px;
}
.ilustration{
    width: 50vw;
    background-color: #404EED;
    display: flex;
    justify-content: center;
}
.ilustration img{
    width: 80%;
}
/*Fim de personalização*/

/*Últimos pedidos*/
.lastOrders{
    width: 100vw;
    background-color: #F2F2F2;
    /*height: 28vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.division3{
    width: 79vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    column-gap: 17px;
    row-gap: 17px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.item{
    background-color: white;
    width: 190px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.item img{
    width: 170px;
    height: 170px;
}
.textOrders{
    font-weight: 400;
    font-size: 18px;
    color: #232323;
    display: flex;
}
.text{
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    color: #232323;
    margin-bottom: 15px;
}
.weight{
    font-weight: 700;
}
.ultimosPedidos{
    display: flex;    
}
/*Fim dos últimos pedidos*/
/*Seleção*/
.borderBlue{
    border: solid 3px #404EED;
} 
.buttonBlue{
    background-color: #404EED;
}
/*Fim de seleção*/

@media (max-width: 850px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header img{
        margin-left: 0;
    }
    .choices{
        width: 100vw;
        padding-bottom: 1.3vw;
        height: auto;
    }
    .division{
        width: 90%;
    }
    .ilustration{
        display: none;
    }
    .division3{
        display: flex;
        flex-direction: column;
        row-gap: 17px;
        justify-content: start;
    }
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}